
.table-header {
  color: #333333;
    background:#d7fed7;
    font: bold 12px Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
    border-bottom: 1px solid #cccccc;
    padding: 4px 14px;
    position: relative;
}
